@using GenesisBlog.Services.Interfaces

@model IEnumerable<BlogPost>
@inject IImageService imageService;


@{
    ViewData["Title"] = "Search Results";
    var loop = 1;
    var even = false;
    bool odd;
}

<!-- Main Content-->
@foreach (var blogPost in Model)
{
    even = (loop % 2 == 0);
    odd = !even;

    <div class="row mb-5">

        @if (odd)
        {
            <div class="col-4">
                @if (string.IsNullOrEmpty(blogPost.ImageType))
                {
                    <img class="img-fluid" src="~/images/home-bg.jpg">
                }
                else
                {
                    <img class="img-fluid" src="@imageService.ConvertByteArrayToFile(blogPost.ImageData, blogPost.ImageType)">
                }
            </div>
        }

        <div class="col-8">
            <!-- Post preview-->
            <div class="post-preview">
                <a asp-controller="BlogPosts" asp-action="Details" asp-route-slug="@blogPost.Slug">
                    <h2 class="post-title">@blogPost.Title</h2>
                    <h3 class="post-subtitle">@blogPost.Abstract</h3>
                </a>
                <p class="post-meta">
                    Posted by <a href="">Charles Hall</a>
                    on @blogPost.Created.ToString("MMMM dd, yyyy")
                </p>
            </div>
            <!-- Divider-->
            <hr class="my-4" />
        </div>

        @if (even)
        {
            <div class="col-4">
                @if (string.IsNullOrEmpty(blogPost.ImageType))
                {
                    <img class="img-fluid" src="~/images/home-bg.jpg">
                }
                else
                {
                    <img class="img-fluid" src="@imageService.ConvertByteArrayToFile(blogPost.ImageData, blogPost.ImageType)">
                }
            </div>
        }
    </div>

    loop++;
}