@using Microsoft.AspNetCore.Identity
@model IEnumerable<GenesisBlog.Models.BlogPostComment>
@inject SignInManager<BlogUser> SignInManager

@{
    ViewData["Title"] = "Deleted Index";
}

<div class="container">
    <h1>Deleted Comments</h1>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Comment)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BlogPost)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Comment)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BlogPost.Abstract)
                    </td>
                    <td>
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
